---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="primary-header"></header>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  main {
    margin-top: -8em;
  }
  .primary-header {
    height: 300px;
    background-image: url("./images/bg-cafe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
</style>
